
@{
    ViewBag.Title = "Welcome";
}

<style type="text/css">

    h2 {
        font-family: fantasy;
        color: ghostwhite;
         background-image: url('../../Image/Nav.jpeg');
         height:200px;
          -moz-box-shadow: 5px 5px 5px 5px #808080;
        -webkit-box-shadow: 5px 5px 5px 5px #808080;
        box-shadow: 5px 5px 5px 5px #808080;
    }


</style>

    <center>
        <h2>Welcome To Electronic Unlimited, valued customer.</h2>
        <h3>Thank You for Registering with us...</h3>
        <div>
            <a class="btn-lg btn-primary" href="@Url.Action("Index","Shop")"> Buy Something</a>
        </div>
        
    </center>

